---
import PinyinPractice from "../components/PinyinPractice.vue";
---

<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>繁體拼音輸入練習</title>
  </head>
  <body>
    <PinyinPractice client:load />
  </body>
</html>
